# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Mac system files
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Environment variables
.env

# Build artifacts
*.egg-info/
build/
dist/
